# PayPal Credentials
VITE_PAYPAL_CLIENT_ID=ASGBi0TBZWnQe03aiB-IQ9vrqulSlJcdq-kkpG8RUwE17FNF8nHjOC21zzes0vqEapDCgXjHa_xdvgjo
PAYPAL_SECRET_KEY=EN0huyvcstYE67CZG_Ai_MWLxl1LZBwuSh2r3zACkq62zQT543B4Opd8S9VIBWMraiAbTdSEtdS-PAAF
PAYPAL_ENV=sandbox
